.App {
  text-align: center;
}

.box {
  height: 200px;
  width: 200px;
  margin: 5px;
  padding: 20px;
  background: lightblue;
  display: inline-block;
  color: black;
  border-radius: 12px;
}
.buy-btn {
  height: 25px;
  width: 88px;
  margin: 2px 5px;
  padding: 2px 5px;
  background-color: orange;
  border: none;
  border-radius: 4px;
}
